$black: #2c2e3a;
$yellow: #FFFF00;
$light-blue: #8AD8FF;
$dark-blue: #003577;

body {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	background-color: $black;
	button {
		font-family: 'Raleway', sans-serif;
		border: 1px solid rgba(0, 0, 0, 0);
		border-radius: 5px;
		font-size: 1.5em;
		font-weight: 900;
		padding: 1rem 2rem;
		transition: 0.6s;
		cursor: pointer;
		background-color: $yellow;
		color: $black;
	}
	button:hover {
		background-color: $light-blue;
		transition: 0s;
	}
	button:active {
		border: 1px solid $yellow;
	}
	button:focus {
		outline: none;
	}
	#mobile-menu {
		position: fixed;
		width: 0;
		height: 100%;
		background-color: rgba(44, 46, 58, 0.90);
		z-index: 99;
		overflow: hidden;
		transition: 0.4s;
		#mobile-menu-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -55%);
			a {
				color: #FFFF00;
				text-decoration: none;
			}
			h4 {
				font-weight: 900;
				font-size: 2em;
			}
		}
	}
}

.container {
	-webkit-box-shadow: 0px 0px 46px -6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 46px -6px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 46px -6px rgba(0, 0, 0, 0.25);
	width: 1200px;
	margin: 0 auto;
	.top {
		.header-nav {
			background-color: $dark-blue;
			.header-content {
				width: 90%;
				margin: 0 auto;
				display: grid;
				grid-template-columns: auto auto;
				grid-template-areas: "left right";
				.logo {
					align-self: center;
					margin: 1rem 0;
					svg {
						width: 186px;
					}
					h5 {
						text-align: left;
						margin: 1rem 0 0 0;
						font-size: 22px;
						line-height: 0;
						font-weight: 900;
					}
				}
				h4 {
					text-decoration: none;
					margin: 0;
					text-align: center;
					font-size: 1.5em;
					font-weight: 900;
					border: 1px solid rgba(0, 0, 0, 0);
				}
				a {
					text-decoration: none;
					margin: 0;
					text-align: center;
					font-weight: 900;
					color: white;
					border: 1px solid rgba(0, 0, 0, 0);
				}
				a:hover,
				.call:hover {
					color: $yellow
				}
				a:active,
				.call:active {
					transform: scale(0.98, 0.98);
				}
				.nav-right {
					display: flex;
					justify-self: end;
					align-items: center;
					.full-menu {
						grid-area: right;
						display: grid;
						grid-template-columns: auto auto auto;
						grid-column-gap: 2rem;
						justify-content: end;
						align-items: center;
					}
					.small-menu {
						display: none;
					}
					.current-page {
						color: $yellow;
					}
				}
			}
		}
		.content {
			background-image: url(/images/tools-light.jpg);
			background-size: cover;
			// min-height: 700px;
			.here {
				display: none;
				text-align: center;
				font-weight: 900;
				background-color: $black;
				h1 {
					color: white;
					padding: 1rem 0rem;
					margin: 0;
					font-weight: 900;
				}
			}
			.splash-top {
				display: grid;
				grid-template-columns: 60% auto;
				grid-template-areas: "content .";
				text-align: left;
				background-image: url(/images/solar-3.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: bottom;
				.splash-top-content, .splash-top-content-xs {
					background-color: rgba(44, 46, 58, 0.90);
					border-radius: 30px;
					margin: 4rem 0rem 4rem 6rem;
					padding: 2rem;
					h3 {
						font-size: 3rem;
						margin: 0 0 2rem 0;
						font-weight: 900;
					}
					p {
						font-size: 1.5rem;
						font-weight: 700;
						margin: 0;
					}
					p, h3 {
						color: white;
					}
				}
				.splash-top-content-xs {
					display: none;
				}
			}
			.splash-testimonial {
				display: grid;
				grid-template-columns: 50px 30px auto;
				grid-template-rows: auto auto auto;
				grid-template-areas: "icon . title" "testimonial testimonial testimonial" "anchor anchor anchor";
				align-items: center;
				grid-row-gap: 1rem;
				background-color: #FFFF00;
				color: $black;
				padding: 2rem 4rem;
				button {
					color: $black;
				}
				button:focus {
					background-color: transparent;
				}
				button:hover {
					background-color: transparent;
				}
				button:active {
					font-size: 1rem;
				}
				blockquote {
					margin: 0 0 1rem 0;
				}
				.testimonial-icon {
					grid-area: icon;
					font-size: 4rem;
					padding: 0;
					i {
						vertical-align: middle;
					}
				}
				.testimonial-title {
					grid-area: title; 
					h3 {
						font-size: 2rem;
						font-weight: 900;
					}
				}
				.testimonial-slider {
					grid-area: testimonial;
					display: flex;
					overflow-x: auto;
					.slide {
						display: grid;
						grid-template-rows: auto auto;
						grid-template-areas: "top"
						"bottom";
						background-color: rgba(44, 46, 58, 0.15);
						border-radius: 20px;
						width: 100%;
						height: 100%;
						p {
							margin: 0;
							padding: 1rem;
							font-size: 1.5rem;
						}
						blockquote {
							grid-area: top;
							i {
								display: inline;
							}
							p {
								font-weight: 400;
							}
						}
						p:nth-child(2) {
							font-weight: 700;
							text-align: right;
							grid-area: bottom;
							align-self: end;
						}
					}
					.slide:focus {
						outline: none;
					}
				}
				.slider-anchors {
					grid-area: anchor;
					justify-self: center;
					ul {
						padding: 0;
					}
					li {
						display: inline-block;
						list-style-type: none;
						transition: 0.4s;
						border-radius: 50%;
						font-size: 0;
						margin: .2rem;
					}
					button {
						background-color: rgba(44, 46, 58, 0.15);
						padding: 0;
						font-size: 0;
						width: 20px;
						height:	20px;
						border-radius: 50%;
						
					}
					.slick-active {
						background-color: $black;
					}
				}
			}
			.section-content {
				display: grid;
				grid-template-columns: 50% 50%;
				grid-template-rows: auto auto;
				grid-template-areas: "top-left top-right"
				"bottom bottom";
				padding-top: 2rem;
				// background-color: $yellow;
				img {
					border: 5px solid $black;
					background-color: $black;
				}
				p, h2, h3 {
					color: $black;
				}
				h2, h3 {
					font-weight: 900;
				}
				.service-hero-left, .service-hero-right {
					width: 90%;
					margin: 0 auto;
					img {
						width: 100%;
						height: 20rem;
						object-fit: cover;
						border-radius: 30px;
					}
				}
				.service-hero-left {
					grid-area: top-left;
				}
				.service-main {
					// background-image: url(/images/tools-light.jpg);
					grid-area: bottom;
					padding-bottom: 2rem;
					display: grid;
					grid-template-columns: 50% 50%;
					grid-template-rows: auto auto auto;
					grid-template-areas: "heading heading"
					"list-left list-right"
					"bottom bottom";
					padding: 2rem;
					.service-help {
						grid-area: heading;
						i {
							display: inline;
							vertical-align: middle;
							margin-right: .5rem;
						}
						h2 {
							display: inline;
						}
					}
					h2 {
						grid-area: heading;
					}
					.list-one {
						grid-area: list-left;
					}
					.list-two {
						grid-area: list-right;
					}
					.list-full {
						display: none;
					}
					.cta {
						grid-area: bottom;
						justify-self: center;
					}
					a {
						text-decoration: underline;
						color: $black;
					}
				}
			}
			.quote-content {
				background-color: $yellow;
				padding-bottom: 2rem;
				min-height: 623px;
				// background-image: url('/images/jg-lm-light.jpg');
				// background-size: cover;
				img {
					border: 5px solid $black;
					background-color: $black;
				}
				.quote-content-grid {
					display: grid;
					grid-template-columns: 47% 6% 47%;
					grid-template-rows: auto auto;
					grid-template-areas: "blurb blurb blurb"
					"quote-form . quote-img";
					width: 90%;
					margin: 0 auto;
					.quote-blurb {
						grid-area: blurb;
						h1 {
							font-weight: 900;
						}
					}
					.quote-form {
						grid-area: quote-form;
						width: 100%;
						align-self: center;
						form {
							box-sizing: border-box;
							border-radius: 30px;
							padding: 1rem;
							background-color: $black;
							input, textarea {
								font-family: 'Raleway', sans-serif;
								width: 100%;
								border: 0;
								background-color: $yellow;
								padding: 10px 0;
								border-radius: 15px;
								padding: 1rem;
								box-sizing: border-box;
								margin-bottom: 1rem;
								color: $black;
							}
							input:focus, textarea:focus {
								outline: none;
							}
							input {
								display: block;
							}
							textarea {
								resize: none;
								height: 165px;
							}
							button {
								border-radius: 15px;
								// background-color: $black;
								// color: $yellow;
							}
							::-webkit-input-placeholder { /* WebKit, Blink, Edge */
								font-style: italic;
							}
							:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
								font-style: italic;
							}
							::-moz-placeholder { /* Mozilla Firefox 19+ */
								font-style: italic;
							}
							:-ms-input-placeholder { /* Internet Explorer 10-11 */
								font-style: italic;
							}
							::-ms-input-placeholder { /* Microsoft Edge */
								font-style: italic;
							}
							::placeholder { /* Most modern browsers support this now. */
								font-style: italic;
							}
						}
						#thankyou_message {
							text-align: center;
						}
					}
					.quote-img {
						grid-area: quote-img;
						img {
							width: 100%;
							object-fit: cover;
							border-radius: 30px;
						}
					}
				}
			}
		}
	}
	.footer {
		background-color: $dark-blue;
		width: 100%;
		.footer-content {
			display: grid;
			grid-template-columns: 40% 20% 40%;
			grid-template-areas: "left . right";
			color: $yellow;
			width: 90%;
			margin: 0 auto;
			padding: 2rem 0;
			p {
				margin: 0;
				font-weight: 400;
			}
			a:link {
				text-decoration: none;
				color: $yellow;
				font-weight: 900;
			}
			a:visited {
				color: $yellow;
			}
			a:hover {
				color: $light-blue;
			}
			a:active {
				transform: scale(0.98, 0.98);
			}
			.footer-nav-links {
				grid-area: left;
				align-self: center;
				text-align: left;
				h5 {
					margin: 0;
				}
				a {
					display: block;
					font-size: 1vw;
				}
				ul {
					list-style: none;
					padding-left: 0;
				}
			}
			.socials {
				justify-self: center;
				align-self: center;
				svg:hover path {
					fill: $light-blue;
				}
			}
			.credits {
				grid-area: right;
				text-align: right;
				align-self: center;
				p,
				a {
					font-size: 1vw !important;
				}
			}
		}
	}
	.dots {
		li {
			// display: inline;
			margin: 0 .2rem;
			// padding: 0;
			list-style-type: circle;
		}
	}
}