$black: #2c2e3a;
$yellow: #FFFF00;
$light-blue: #8AD8FF;
$dark-blue: #0051B6;
@media (max-width: 1200px) {
	body {
		button {
			font-size: 2vw;
		}
	}
	.container {
		width: 100%;
		.top {
			.header-nav {
				.header-content {
					.logo {
						margin: 1rem 0 0 0;
						svg {
							width: 175px;
						}
						h5 {
							font-size: 21px;
						}
					}
					h4 {
						font-size: 2vw;
					}
				}
			}
			.content {
				.splash-top {
					font-size: 1.5vw;
				}
				.quote-content {
					.quote-content-grid {
						.quote-form {
							form {
								textarea {
									height: 155px;
								}
							}
						}
					}
				}
			}
		}
		.footer {
			.footer-content {
				grid-template-columns: 33% 34% 33%;
				grid-template-areas: "left . right";
				.footer-nav-links {
					a {
						font-size: 1em;
					}
				}
				.socials {
					width: 15%;
				}
				.credits {
					p,
					a {
						font-size: 1em !important;
					}
				}
			}
		}
	}
}